
# **Practical Assignment**

1. Write a code to create a string with your name and print it?

In [101]:
name = input("enter the name: ")
print(name)

enter the name: akash kumar singh
akash kumar singh

2. Write a code to find the length of the string "Hello World"?

In [102]:
text = "Hello World"
a = len(text)
print("Length of the string:", a)

Length of the string: 11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [103]:
text = "Python Programming"
a = text[:3]
print("First 3 characters:",a)

First 3 characters: Pyt

4. Write a code to convert the string "hello" to uppercase?

In [104]:
a = "hello"
uppercase = a.upper()
print('''Uppercase "hello" :''', uppercase)

Uppercase "hello" : HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [105]:
a = "I like apple"
b = a.replace("apple", "orange")
print(b)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [106]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [107]:
b = [1, 2, 3, 4]
b.append(10)
print(b)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [108]:
b = [1, 2, 3, 4, 5]
b.remove(3)
print(b)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [109]:
list1= ['a', 'b', 'c', 'd']
print(list1[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [110]:
number = [10, 20, 30, 40, 50]
number.reverse()
print(number)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [111]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [112]:
color = ('red', 'green', 'blue', 'yellow')
second_last_element = color[-2]
print(second_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [113]:
numbers = (10, 20, 5, 15)
minimum_value = numbers[0]
for num in numbers:
    if num < minimum_value:
        minimum_value = num
print("Minimum number:", minimum_value)

Minimum number: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [114]:
animals = ('dog', 'cat', 'rabbit')
cat = animals.index('cat')
print("Index of 'cat':", cat)

Index of 'cat': 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [115]:
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [116]:
letters = {'a', 'b', 'c'}
print(letters)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [117]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [118]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [119]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1|set2
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [120]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1&set2
print("Intersection:", intersection_set)

Intersection: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [121]:
person = {
    "name": "Akash",
    "age": 27,
    "city": "Delhi"
}
print(person)

{'name': 'Akash', 'age': 27, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [122]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [123]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Name:", name_value)

Name: Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [124]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [125]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [126]:

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"name": "Akash", "age": 27}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Akash', 'age': 27}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [127]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [7, 7, 58, 73, 85]

28. Write a code to create a list with strings and print the element at the third index.

In [128]:
fruits = ["apple", "banana", "cherry", "date", "mango"]
print("Element at index 3:", fruits[3])

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

In [129]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [130]:
fruits_list = ["apple", "banana", "apple", "mango"]
fruits_set = set(fruits_list)
print("Set:", fruits_set)

Set: {'banana', 'mango', 'apple'}