1. What are data structures, and why are they important?
- Data structures are methods of organizing and storing data in a computer so it can be used effectively. They are important because they allow efficient data access, modification, and storage. Proper use of data structures improves program performance, reduces complexity, and helps in solving problems like searching, sorting, and managing large datasets.
2.  Explain the difference between mutable and immutable data types with examples?
- Mutable data types can be changed after creation (e.g., lists, dictionaries), while immutable data types cannot be changed once created (e.g., tuples, strings, integers).
3. What are the main differences between lists and tuples in Python?
- Lists ([ ]) are mutable, slower, and allow modification of elements, while tuples (( )) are immutable, faster, and often used for fixed data.
4. Describe how dictionaries store data?
- A dictionary in Python stores data as unordered key–value pairs inside { }. Keys must be unique and immutable, while values can be of any type. Example: {"id": 1, "name": "Alex"}.
5. Why might you use a set instead of a list in Python?
- Sets are used when duplicates must be avoided and order is not important. They also provide faster membership testing (in operator) compared to lists.
6. What is a string in Python, and how is it different from a list?
- A string is a collection of characters written in single, double, or triple quotes. Unlike lists, strings are immutable, meaning their characters cannot be changed, while lists are mutable and allow modification of elements.
7. How do tuples ensure data integrity in Python?
- Tuples are immutable, so their elements cannot be changed after creation. This ensures that the data inside a tuple remains constant and safe from accidental modification.
8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key–value pairs for fast lookup. Python dictionaries are implemented using hash tables.
9. Can lists contain different data types in Python?
- Lists in Python are heterogeneous, meaning they can store items of different types such as integers, strings, floats, or even other lists.
Example: [1, "Alice", 3.14, [2, 4]]
10. Explain why strings are immutable in Python?
- Strings are immutable in Python, meaning they cannot be changed after creation. This ensures data integrity and allows strings to be used safely as dictionary keys or set elements.
11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries store data as key–value pairs, allowing direct access to values using keys, which is faster than searching a list. They are ideal when data needs to be accessed, updated, or removed quickly by a unique identifier.
12. Describe a scenario where using a tuple would be preferable over a list?
- Tuples are used when the data is constant and should remain unchanged. They are also faster and memory-efficient compared to lists.
Example: Storing coordinates of a point (x, y) as (10, 20).
13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values, so only unique elements are stored.
14. How does the “in” keyword work differently for lists and dictionaries?
- For lists, in checks if a value exists in the list.For dictionaries, in checks if a key exists in the dictionary.
15. Can you modify the elements of a tuple? Explain why or why not?
- Tuples are immutable sequences, so you cannot change, add, or remove elements once the tuple is created. This ensures the data remains constant.
16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary stores dictionaries inside a dictionary. It is useful for organizing complex, hierarchical data.
Example:

      student = {
                  "101": {"name": "Alice", "age": 20},
                  "102": {"name": "Bob", "age": 22}
                }
print(student["101"]["name"])  # Output: Alice

17. Describe the time complexity of accessing elements in a dictionary?
- Python dictionaries use a hash table internally. Accessing a value by its key is very fast (average O(1)), regardless of the dictionary size, because the key is hashed to directly locate the value.
-
18. In what situations are lists preferred over dictionaries?
- Lists are preferred when you need an ordered collection of items and fast index-based access.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries store key–value pairs in a hash table, so the order of items is not guaranteed (Python 3.6–). Retrieval is done using keys, not indexes. This allows fast access, but you cannot rely on element order.
20. Explain the difference between a list and a dictionary in terms of data retrieval?
- List: Ordered collection; elements are retrieved using their position (index). Searching for a specific value requir es scanning the list (O(n) time).
Dictionary: Unordered collection of key–value pairs; elements are retrieved using keys, providing O(1) average-time lookup.


# **Practical Assignment**

1. Write a code to create a string with your name and print it?

In [ ]:
# 1
# Create a string with your name
name = "Akash Kumar"

# Print the string
print(name)

Akash Kumar

2. Write a code to find the length of the string "Hello World"?

In [ ]:
# 2
text = "Hello World"

# Find the length of the string
length = len(text)

# Print the result
print("Length of the string:", length)

Length of the string: 11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
# 3
# Create a string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

4. Write a code to convert the string "hello" to uppercase?

In [ ]:
# 4
# Create a string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase:", uppercase_text)

Uppercase: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
# 5
# Original string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Print the result
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
# 6
numbers = [1, 2, 3, 4, 5]

# Print the list
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
# 7.
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
# 8
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
# 9
# Initial list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
# 10
# Initial list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# 11
# Create a tuple
numbers = (100, 200, 300)

# Print the tuple
print(numbers)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# 12
# Create a tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_last = colors[-2]

# Print the result
print(second_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# 13
numbers = (10, 20, 5, 15)

# Find the minimum number
minimum = min(numbers)

# Print the result
print("Minimum number:", minimum)

Minimum number: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# 14
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index_cat = animals.index('cat')

# Print the result
print("Index of 'cat':", index_cat)

Index of 'cat': 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# 15
fruits = ("apple", "banana", "mango")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# 16
letters = {'a', 'b', 'c'}

# Print the set
print(letters)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
# 17
# Create a set
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the cleared set
print(numbers)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
# 18
numbers = {1, 2, 3, 4}

# Remove the element 4
numbers.remove(4)

# Print the updated set
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# 19
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)

# Print the result
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
# 20
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection:", intersection_set)

Intersection: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
# 21
person = {
    "name": "Akash",
    "age": 30,
    "city": "Delhi"
}

# Print the dictionary
print(person)

{'name': 'Akash', 'age': 30, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
# 22
# Original dictionary
person = {'name': 'John', 'age': 25}

# Add a new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
# 23.
person = {'name': 'Alice', 'age': 30}

# Access the value associated with the key "name"
name_value = person['name']

# Print the result
print("Name:", name_value)

Name: Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# 24
# Original dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
# 25
# Create the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
if 'city' in person:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# 26
# Create a list
my_list = [1, 2, 3]

# Create a tuple
my_tuple = (4, 5, 6)

# Create a dictionary
my_dict = {"name": "Alice", "age": 25}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Alice', 'age': 25}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
# 27
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [12, 20, 26, 27, 46]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
# 28
# Create a list of strings
fruits = ["apple", "banana", "cherry", "date", "mango"]

# Access and print the element at the third index
print("Element at index 3:", fruits[3])

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# 29
# Create two dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
# 30
# Create a list of strings
fruits_list = ["apple", "banana", "apple", "mango"]

# Convert the list into a set
fruits_set = set(fruits_list)

# Print the result
print("Set:", fruits_set)

Set: {'mango', 'banana', 'apple'}